In [87]:
%matplotlib notebook

In [88]:
from scipy.stats import linregress
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

In [89]:
wine_df = pd.read_csv('Wine_data.csv', encoding="ISO-8859-1")

wine_df.head()

,Name,Rating,Winery,Area,Province,Country,Varietal,Vintage,Style,Wine Type,ID
0,IV,93.433789,Layor Wines,Nova Scotia,NaN,Canada,Vidal,2013,Dessert,White,55663e3e942360030000000e
1,Layor Gold,90.627673,Layor Wines,Nova Scotia,NaN,Canada,Vidal,2013,Dessert,White,55663e00942360030000000d
2,The Evangelist - Late Harvest Viognier,89.971973,Ascension Cellars,Central Coast,CA,USA,Viognier,2012,Dessert,White,5564efe1b4f0c10300000058
3,Soul Shaker,89.506316,Ascension Cellars,Central Coast,CA,USA,"Cabernet Sauvignon, Petit Verdot, Syrah, Merlot",2012,NaN,Red,5564efe1b4f0c1030000009c
4,"Dalliance ""GSMv""",89.421973,Ascension Cellars,Central Coast,CA,USA,"Grenache, Syrah, Mourvedre, Viognier",2011,NaN,Red,5564efe1b4f0c1030000009b

In [90]:
#Data Clanup

#Correcting United States to USA, Remove counties that don't exist

wine_df['Country'] = wine_df['Country'].replace({'United States': 'USA', 'California': 'USA', 'Franc': 'France', 'French': 'France'})

cleaned_df = wine_df.loc[(wine_df['Country'] != 'Blind') & (wine_df['Country'] != 'Macedonia')]

# cleaned2_df = cleaned_df.dropna(subset = ['Varietal'])

# len(cleaned_df) - len(cleaned_df.dropna(subset = ['Vintage']))

# cleaned_df['Vintage'].value_counts()

In [110]:
#Bar Chart of Countries with Average Rating

winery_count = cleaned_df.groupby('Country').count()['Winery']

wine_rating = cleaned_df.groupby('Country').mean()['Rating']

winery_count_df = pd.DataFrame({'Winery Count': winery_count})

wine_rating_df = pd.DataFrame({'Wine Rating': wine_rating})

top10_country = winery_count_df.nlargest(10, 'Winery Count') #10 largest by Winery Count

top10_rating = wine_rating_df.nlargest(10, 'Wine Rating')

merge_df = top10_country.merge(wine_rating_df, on = 'Country')

# top10_country.sort_values(by = 'Winery Count', ascending = False).plot(kind='bar', ylabel = 'Count of Wineries')

# wine_rating_df.plot(kind='line', secondary_y = True)

# plt.legend()

# plt.show()
merge_df.head(10)

              Winery Count  Wine Rating
Country
USA                   4211    77.101990
Canada                2555    76.416850
France                1716    76.952722
Italy                 1605    76.844544
Spain                  588    76.671740
Australia              460    76.146005
Argentina              421    75.767816
Chile                  311    75.813061
New Zealand            241    76.859121
South Africa           193    76.809998